<style>
    .active {
        background: royalblue;
    }
</style>
<ul>
    <li><a routerLink="/home" [ngClass]="{'active':router.url=='/home'}">Home</a></li>
    <li><a routerLink="/about" [ngClass]="{'active':router.url=='/about'}">About</a></li>
    <li><a routerLink="/events" [ngClass]="{'active':router.url=='/events'}">Events</a></li>
    <li><a routerLink="/forms" [ngClass]="{'active':router.url=='/forms'}">Forms</a></li>
    <li><a routerLink="/parent-child" [ngClass]="{'active':router.url=='/parent-child'}">Parent Child</a></li>
    <li><a routerLink="/api" [ngClass]="{'active':router.url=='/api'}">API</a></li>
</ul>